.categories {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

.category {
    min-width: 60px;
    padding: 8px 16px;
    border: none;
    border-radius: 100px;
    background-color: var(--beige);
    transition: background-color 0.3s ease, color 0.3s ease;

    @media screen and (max-width: 767px) {
        min-width: 50px;
        padding: 7px 12px;
        font-size: 14px;
    }

    &:hover {
        background-color: var(--accent);
        color: #fff;
    }
}

.categoryActive {
    background-color: var(--accent);
    color: #fff;
}
