.header {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: initial;
        gap: 20px;
    }
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}
