.sort {
    @media screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.sortSelect {
    min-width: 170px;
    padding: 10px;
    border-color: var(--accent);
    border-radius: 3px;
    background-color: var(--light);
    cursor: pointer;

    @media screen and (max-width: 767px) {
        width: 100%;
        min-width: initial;
        padding: 8px;
    }
}
