.sort {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 767px) {
        gap: 20px;
    }
}

.sortSelect {
    min-width: 170px;
    padding: 10px;
    border-color: var(--accent);
    border-radius: 3px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        flex: 1;
    }
}
